<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teinproductions.tein.smartcalc">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- MENU -->

        <activity
            android:name="com.teinproductions.tein.smartcalc.menu.MenuActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MATHS -->

        <activity
            android:name="com.teinproductions.tein.smartcalc.maths.FactorizationActivity"
            android:label="@string/integer_factorization"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.teinproductions.tein.smartcalc.maths.GCFActivity"
            android:label="@string/greatest_common_factor"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.teinproductions.tein.smartcalc.maths.LCMActivity"
            android:label="@string/least_common_multiple"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.teinproductions.tein.smartcalc.maths.ComplexActivity"
            android:label="@string/complex_numbers"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.teinproductions.tein.smartcalc.maths.XOrEncoderActivity"
            android:label="@string/x_or_encoder"
            android:theme="@style/Theme.AppCompat" />

        <!-- PHYSICS -->

        <activity
            android:name="com.teinproductions.tein.smartcalc.physics.VelocityAdding"
            android:label="@string/adding_velocities"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.teinproductions.tein.smartcalc.physics.TimeDilationActivity"
            android:label="@string/time_dilation"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.teinproductions.tein.smartcalc.physics.LengthContractionActivity"
            android:label="@string/length_contraction"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.teinproductions.tein.smartcalc.physics.SchwarzschildRadiusActivity"
            android:label="@string/schwarzchild_radius"
            android:windowSoftInputMode="stateVisible" />

        <!-- CHEMISTRY -->

        <activity
            android:name="com.teinproductions.tein.smartcalc.chemistry.molu.ParticlePagerActivity"
            android:label="@string/elements"
            android:theme="@style/molu_theme" />
        <activity
            android:name="com.teinproductions.tein.smartcalc.chemistry.molu.CustomParticlesActivity"
            android:label="@string/custom_particles"
            android:theme="@style/molu_theme" />
        <activity
            android:name="com.teinproductions.tein.smartcalc.chemistry.molu.ParticleEditActivity"
            android:label="@string/edit_particle"
            android:theme="@style/molu_theme" />

        <!-- BIOLOGY -->

        <activity
            android:name="com.teinproductions.tein.smartcalc.biology.bmi.BMIActivity"
            android:label="@string/bmi_title"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.teinproductions.tein.smartcalc.biology.bmi.BMIInfoActivity"
            android:label="@string/info" />

        <!-- CONVERTER -->

        <activity
            android:name="com.teinproductions.tein.smartcalc.conversion.LengthConvertActivity"
            android:label="@string/length_conversion"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.teinproductions.tein.smartcalc.conversion.TimeConvertActivity"
            android:label="@string/time_conversion"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.teinproductions.tein.smartcalc.conversion.TemperatureConvertActivity"
            android:label="@string/temperature_conversion"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.teinproductions.tein.smartcalc.conversion.VelocityConvertActivity"
            android:label="@string/velocity_conversion"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.teinproductions.tein.smartcalc.conversion.numeralsystem.NumeralSystemConvertActivity"
            android:label="@string/numeral_systems"
            android:theme="@style/Theme.AppCompat" />

        <!-- MEASURE -->

        <activity
            android:name=".measure.GravityMeasureActivity"
            android:label="@string/measure_gravity" />
    </application>

</manifest>
